/* your styles go here */

@media (min-width: 992px){
    .col-lg-3{
        width: 30% !important;
    }
}

@media (min-width: 1200px){
    .col-lg-3{
        width: 30% !important; 
    }
}

@media (min-width: 992px) {
    .col-md-9{
        width:75%;
    }

/* scaffolding */

body {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.55;
        color: #fffefe;
        background-color: #13171d;
      }

.box-masonry {
  background: #1d232c; 
  margin-bottom: 30px;
  position: relative;
  box-shadow: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
}  

.box-masonry:hover {
  box-shadow: none;
}

.contact-form {
        margin-bottom: 20px;
      }
      p.social {
        margin-top: 20px;
      }
      p.social a {
        margin: 0 10px 10px 0;
        color: #fff;
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        line-height: 40px;
        font-size: 15px;
        text-align: center;
        vertical-align: bottom;
        border: solid 1px #999999;
        color: #999999;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        /*
                   &.facebook {background-color: #4460ae; border-color: #4460ae;}
                   &.gplus {background-color: #c21f25; border-color: #c21f25;}
                   &.twitter {background-color: #3cf; border-color: #3cf;}
                   &.instagram {background-color: #cd4378; border-color: #cd4378;}
                   &.email {background-color: #4a7f45; border-color: #4a7f45;}
                   &.link {background-color: #871AFF; border-color: #871AFF;}
                   */
      }
      p.social a:hover {
        color: #ef5285;
        border-color: #ef5285;
      }
      p.social a i {
        vertical-align: bottom;
        line-height: 40px;
      }
      p.social.social--outline a {
        background: transparent;
      }
      
      p.social.social--outline a.instagram {
        color: #cd4378;
        border-color: #cd4378;
      }
      p.social.social--outline a.email {
        color: #4a7f45;
        border-color: #4a7f45;
      }
      p.social.social--outline a.link {
        color: #871AFF;
        border-color: #871AFF;
      }
      p.social.social--big a {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        line-height: 60px;
        font-size: 25px;
      }
      p.social.social--big i {
        line-height: 60px;
      }
}

  .sidebar-heading {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .sidebar-heading a {
    color: rgb(199, 232, 252);
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .sidebar-heading a:hover {
    border-bottom: dotted 1px #d0e7fa;
    color: #d0e7fa;
    text-decoration: none;
  }
  .sidebar-p {
    color: #999999;
    font-size: 14px;
  }
  .sidebar-menu {
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 40px;
  }
  .sidebar-menu li {
    margin-bottom: 5px;
  }
  .sidebar-menu li a {
    color: #555555;
  }
  .sidebar-menu li:before {
    font-family: 'FontAwesome';
    content: '\f105';
    margin: 0 5px 0 -15px;
    color: #999999;
  }
.sidebar-menu li.active a {
    color: #d0e7fa;
    font-weight: bold;
  }
.sidebar-menu li.active:before {
    color: #d0e7fa;
  }
.sidebar-menu li:hover a {
    text-decoration: none;
    color: #d0e7fa;
  }
.sidebar-menu li:hover:before {
    color: #d0e7fa;
  }

.content-column.white-background {
  background: #1d232c;
  min-height: 100vh;
}
h1 {
font-family: "Roboto", Helvetica, Arial, sans-serif;
font-weight: 700;
line-height: 1.2;
color: #d6deee;
}